includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 9
    paths:
        - src
    ignoreErrors:
        - '#Call to function is_(string|int)\(\) with .* will always evaluate to true#'
        - '#Result of && is always false#'
        - '#Possibly invalid array key type mixed#'